section.banner div ul li .uk-position-cover {
  margin-top: 130px; }
  section.banner div ul li .uk-position-cover .banner-text {
    margin-top: 80px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    padding: 40px 60px 60px 60px; }
    section.banner div ul li .uk-position-cover .banner-text .common-header {
      font-size: 35px !important;
      line-height: 0.272;
      font-size: 42px;
      color: #fff;
      font-family: "Montserrat-Bold", sans-serif;
      font-weight: bold;
      text-transform: uppercase; }
    section.banner div ul li .uk-position-cover .banner-text .banner-text-title {
      font-size: 69.396px;
      font-family: "Montserrat-Bold", sans-serif;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      line-height: 1.066; }
    section.banner div ul li .uk-position-cover .banner-text .common-text {
      color: black;
      font-size: 30px; }
    section.banner div ul li .uk-position-cover .banner-text .banner-text-desc {
      font-family: "Montserrat-Light", sans-serif;
      font-size: 30px;
      color: #d4d4d4;
      line-height: 2.478; }
    section.banner div ul li .uk-position-cover .banner-text .banner__btn {
      display: inline-block;
      width: 166px;
      padding: 10px;
      margin-right: 25px;
      border-top: 6px solid #fff;
      color: #fff;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      font-family: "Montserrat", sans-serif;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      background-color: #18cfab;
      font-weight: bold; }
      section.banner div ul li .uk-position-cover .banner-text .banner__btn__mod {
        background-color: #00cbf6; }
      section.banner div ul li .uk-position-cover .banner-text .banner__btn:hover {
        text-decoration: none; }
      section.banner div ul li .uk-position-cover .banner-text .banner__btn i {
        margin-left: 5px; }

section.banner div a.uk-position-center-left svg {
  color: #878787;
  width: 24px;
  height: 34px; }

section.banner div a.uk-position-center-right svg {
  color: #878787;
  width: 24px;
  height: 34px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #ecf0f1;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px; }

/* The actual timeline (the vertical ruler) */
/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%; }
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #ecf0f1;
    border: 4px solid #FF9F55;
    top: 15px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    z-index: 1; }

/* The circles on the timeline */
/* Place the container to the left */
.left {
  left: 0; }

/* Place the container to the right */
.right {
  left: 50%; }

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #ecf0f1; }

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #ecf0f1 transparent transparent; }

.right::after {
  left: -16px; }

.content {
  padding: 20px 30px;
  background-color: #ecf0f1;
  position: relative;
  -webkit-border-radius: 6px;
          border-radius: 6px; }

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px; }
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px; }
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent; }
  .left::after {
    left: 15px; }
  .right {
    left: 0%; }
    .right::after {
      left: 15px; } }

#register .uk-modal-dialog {
  width: 420px; }

#portfolio {
  margin: 1rem 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
  /* -webkit-column-count: 3;
   *-moz-column-count: 3;
   *column-count: 3;
   *-webkit-column-gap: 1rem;
   *-moz-column-gap: 1rem;
   *column-gap: 1rem;
   *-webkit-column-width: 33.33333333333333%;
   *-moz-column-width: 33.33333333333333%;
   *column-width: 33.33333333333333%; */ }

.tile {
  padding: 0 10px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
      transform: scale(0);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 33.333333%; }
  .tile img {
    max-width: 100%; }

.scale-anm {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.tile img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 1rem; }

.btnGallery {
  font-family: Lato;
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  padding: .5rem 1rem;
  margin-top: 10px;
  height: auto;
  border: 1px solid;
  vertical-align: middle;
  -webkit-appearance: none;
  color: #555;
  background-color: transparent; }
  .btnGallery:hover {
    text-decoration: none; }
  .btnGallery:focus {
    outline: none;
    border-color: var(--darken-2);
    -webkit-box-shadow: 0 0 0 3px var(--darken-3);
            box-shadow: 0 0 0 3px var(--darken-3); }

@media screen and (max-width: 960px) {
  .tile {
    width: 50%; } }

@media screen and (max-width: 640px) {
  .tile {
    width: 100%; } }

@-webkit-keyframes pulse {
  0% {
    transform:scale(0, 0) { } }
  100% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
    opacity: 0.1; } }

@keyframes pulse {
  0% {
    transform:scale(0, 0) { } }
  100% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
    opacity: 0.1; } }

.get-in-touch .uk-position-bottom-right.uk-padding.uk-position-fixed {
  z-index: 200; }
  .get-in-touch .uk-position-bottom-right.uk-padding.uk-position-fixed .with-tel {
    margin-bottom: 15px; }
    .get-in-touch .uk-position-bottom-right.uk-padding.uk-position-fixed .with-tel a {
      background-color: #122834;
      height: 60px;
      width: 60px;
      position: relative; }
      .get-in-touch .uk-position-bottom-right.uk-padding.uk-position-fixed .with-tel a:before {
        position: absolute;
        content: ' ';
        -webkit-animation: pulse 1s infinite;
                animation: pulse 1s infinite;
        background-color: #122834;
        height: 60px;
        width: 60px;
        left: 0;
        top: 0;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        opacity: 0.7;
        border-color: #122834; }
      .get-in-touch .uk-position-bottom-right.uk-padding.uk-position-fixed .with-tel a svg {
        color: #fff;
        width: 30px;
        height: 30px; }
  .get-in-touch .uk-position-bottom-right.uk-padding.uk-position-fixed .with-whatsapp {
    margin-bottom: 85px; }
    .get-in-touch .uk-position-bottom-right.uk-padding.uk-position-fixed .with-whatsapp a {
      background-color: #1FA434;
      height: 60px;
      width: 60px;
      position: relative; }
      .get-in-touch .uk-position-bottom-right.uk-padding.uk-position-fixed .with-whatsapp a:before {
        position: absolute;
        content: ' ';
        -webkit-animation: pulse 1s infinite;
                animation: pulse 1s infinite;
        background-color: #1FA434;
        height: 60px;
        width: 60px;
        left: 0;
        top: 0;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        opacity: 0.7;
        border-color: #1FA434; }
      .get-in-touch .uk-position-bottom-right.uk-padding.uk-position-fixed .with-whatsapp a svg {
        color: #fff;
        width: 30px;
        height: 30px; }

.bin {
  width: 100%;
  background-color: #ddd; }
  .bin_first {
    width: 90%;
    background-color: #4CAF50; }
  .bin_second {
    width: 80%;
    background-color: #2196F3; }
  .bin_third {
    width: 65%;
    background-color: #f44336; }
  .bin_forth {
    width: 60%;
    background-color: #808080; }

.skills {
  margin-top: 30px;
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  color: white; }

@media screen and (max-width: 960px) {
  .circle {
    width: 150px;
    height: 150px; }
  .review_title {
    font-size: 1.2rem;
    margin: 0 30px; } }

@media screen and (max-width: 640px) {
  .circle {
    width: 100px;
    height: 100px; }
  .review_title {
    font-size: 1rem; } }

.gallery2 .img:nth-child(odd):hover .text {
  opacity: 1;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  background-color: red; }

.gallery2 .img:nth-child(odd) .text {
  opacity: 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
  padding: 20px;
  color: white; }

.gallery2 .img:nth-child(even):hover .text {
  opacity: 1;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  background-color: red; }

.gallery2 .img:nth-child(even) .text {
  opacity: 0;
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
  padding: 20px;
  color: white; }

header {
  background: #f8f8f8; }
  header nav.uk-navbar-container {
    background: transparent; }
    header nav.uk-navbar-container .uk-navbar-right ul li.russian a {
      position: relative; }
      header nav.uk-navbar-container .uk-navbar-right ul li.russian a:before {
        position: absolute;
        content: "";
        background: #999;
        top: 25px;
        bottom: 0;
        left: 48px;
        right: 0;
        width: 1px;
        height: 30px; }
  header .mobile button.uk-button-default {
    border: none; }

#signIn div form .uk-inline {
  width: 100%; }

.step-list-one {
  position: relative; }
  .step-list-one .item {
    -webkit-transition: 0.4s;
    transition: 0.4s; }
  .step-list-one .item:nth-child(odd) {
    background: #f8f8f8; }
    .step-list-one .item:nth-child(odd):hover {
      background: lightblue; }
  .step-list-one .item:nth-child(even) {
    background: gray;
    color: white; }
    .step-list-one .item:nth-child(even) .title h3 {
      color: white; }
    .step-list-one .item:nth-child(even):hover {
      background: lightblue;
      color: black; }
      .step-list-one .item:nth-child(even):hover .title h3 {
        color: black; }

span.stepListOne_icon svg {
  width: 100px;
  height: 100px; }

.step {
  width: 76px;
  height: 76px; }
  .step span {
    font-size: 2.5rem;
    margin-bottom: 4%;
    margin-left: 2%; }

.stepListTwo_description .uk-flex-middle {
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .stepListTwo_description .uk-flex-middle:hover .uk-icon-button {
    background-color: #ebebeb;
    color: #666;
    outline: 0; }

@media screen and (max-width: 640px) {
  .stepListTwo_description_count .uk-icon-button {
    width: 46px;
    height: 46px; }
    .stepListTwo_description_count .uk-icon-button span {
      font-size: 16px; } }

.ourTeam ul li .uk-card .uk-card-body h3 {
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.ourTeam ul li .uk-card .uk-card-body p {
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.ourTeam ul li .uk-card .uk-card-body .social a {
  background-color: #f8f8f8;
  color: gray;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .ourTeam ul li .uk-card .uk-card-body .social a:hover {
    color: lightblue; }

.ourTeam ul li .uk-card .uk-card-body:hover h3 {
  color: lightblue; }

.ourTeam ul li .uk-card .uk-card-body:hover p.post {
  color: lightblue; }

.priceTable .item {
  background-color: #f8f8f8;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .priceTable .item .header {
    padding: 30px; }
    .priceTable .item .header h2 {
      text-transform: uppercase;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      margin-bottom: 0; }
  .priceTable .item .price {
    background-color: dimgray;
    padding: 30px;
    -webkit-transition: 0.4s;
    transition: 0.4s; }
    .priceTable .item .price h2 {
      color: white;
      margin-bottom: 0; }
  .priceTable .item .services {
    padding-top: 30px;
    padding-bottom: 30px; }
    .priceTable .item .services ol li p {
      margin: 10px;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
  .priceTable .item .button {
    padding-bottom: 30px; }
    .priceTable .item .button button {
      background-color: dimgray;
      color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
    .priceTable .item .button .uk-button-default {
      border-color: transparent; }
  .priceTable .item:hover .header h2 {
    font-size: 1.7rem; }
  .priceTable .item:hover .price {
    background-color: lightblue; }
  .priceTable .item:hover .services ol li p {
    font-size: 1rem; }
  .priceTable .item:hover .button button {
    background-color: lightblue; }

@media screen and (max-width: 1200px) {
  .uk-countdown-number {
    font-size: 5rem; } }

@media screen and (max-width: 1070px) {
  .uk-countdown-number {
    font-size: 4rem; } }

@media screen and (max-width: 780px) {
  .uk-countdown-number {
    font-size: 3rem; } }

@media screen and (max-width: 665px) {
  .uk-countdown-number {
    font-size: 25px; }
  .uk-countdown-label {
    font-size: 10px; } }

@keyframes pulse {
  0% {
    transform:scale(0, 0) { } }
  100% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
    opacity: 0.1; } }

.toTop .uk-position-bottom-right {
  z-index: 200; }
  .toTop .uk-position-bottom-right a {
    background-color: lightblue;
    height: 60px;
    width: 60px;
    position: relative; }
    .toTop .uk-position-bottom-right a:before {
      position: absolute;
      content: ' ';
      -webkit-animation: pulse 1s infinite;
              animation: pulse 1s infinite;
      background-color: lightblue;
      height: 60px;
      width: 60px;
      left: 0;
      top: 0;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      opacity: 0.7;
      border-color: lightblue; }
    .toTop .uk-position-bottom-right a svg {
      color: white;
      width: 30px;
      height: 30px; }

footer {
  background: #f8f8f8; }
  footer .uk-container {
    padding: 30px 0; }
    footer .uk-container nav.uk-navbar-container {
      background: transparent !important; }
      footer .uk-container nav.uk-navbar-container .uk-navbar-right ul.uk-navbar-nav li.russian a {
        position: relative; }
        footer .uk-container nav.uk-navbar-container .uk-navbar-right ul.uk-navbar-nav li.russian a:before {
          position: absolute;
          content: "";
          background: #999;
          top: 25px;
          bottom: 0;
          left: 48px;
          right: 0;
          width: 1px;
          height: 30px; }
  footer .copyright {
    background: lightgray;
    padding: 10px 0 10px; }

@media screen and (max-width: 1200px) {
  .uk-container {
    max-width: 1000px; } }

@media screen and (max-width: 1000px) {
  .uk-container {
    max-width: 800px; } }

@media screen and (max-width: 800px) {
  .uk-container {
    max-width: 600px; } }

@media screen and (max-width: 640px) {
  footer .uk-container {
    max-width: 400px; }
    footer .uk-container .uk-grid .uk-text-left, footer .uk-container .uk-grid .uk-text-right {
      text-align: center !important; } }

/*----------------------- Preloader -----------------------*/
body.preloader-site {
  overflow: hidden; }

.preloader-wrapper {
  height: 100%;
  width: 100%;
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999; }

.preloader-wrapper .preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  width: 120px; }
